<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Character.png" type="image/x-icon">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 style="font-size: 2.3rem;">Welcome Back</h1>
        <img id="loginimg" src="./img/Character.png" alt="" width="400" height="400">
        <form action="/login/otp" method="post">
            <label class="labell" for="email">Your Email:</label>
                <input type="email" id="email" name='email' placeholder="Enter your Email">
                <button id="login-button">Get OTP</button>
        </form>
    </div>
    <div class="main">
    </div>

    <script src="script.js"></script>

    
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
