<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 style="font-size: 2.3rem;">Welcome Back</h1>
        <img id="loginimg" src="./img/Character.png" alt="">
        <form action="/login" method="post">
            <label class="labell" for="email">Your Email:</label>
                <input type="email" id="email" name='email' placeholder="Enter your Email">
                <button id="login-button">Get OTP</button>
        </form>
        <p>Want to Make Anonymous Report? <a href="/report">Click Here</a></p>
    </div>
    <div class="main">
        <div class="team">
            <h2>MineMaster</h2>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
