<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invento</title>
  <link rel="stylesheet" href="features.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="feature">
		<div class="container">
			<div class="row">
				<div class="heading">
					<h2>SERVICES</h2>
					<h6>Aliqua Put A Bird On It Squid Single-Origin Coffee Nulla Assumenda.</h6>
					<div class="separator"></div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
					<div class="feature-main">
						<div class="feature-box">
							<img src="https://dl.dropboxusercontent.com/s/kg9n24330z562ll/f1.jpg" class="img-responsive" alt="">
							<div class="cover"></div>
						</div>
						<div class="feature-head">
							<h3>Admin Farmer Dashboard</h3>
							<p>A centralized hub where administrators and farmers can monitor inventory levels, track orders, and analyze data in real-time.
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
					<div class="feature-main">
						<div class="feature-box">
							<img src="https://dl.dropboxusercontent.com/s/3ah1e9pjqdlpmwb/f2.jpg" class="img-responsive" alt="">
							<div class="cover"></div>
						</div>
						<div class="feature-head">
							<h3>Simple User Login for Farmers</h3>
							<p>Utilizing RFID technology, farmers can easily access the system without the hassle of complex logins, ensuring seamless inventory management.
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
					<div class="feature-main">
						<div class="feature-box">
							<img src="https://dl.dropboxusercontent.com/s/wpore23cxupz16y/f3.jpg" class="img-responsive" alt="">
							<div class="cover"></div>
						</div>
						<div class="feature-head">
							<h3>Traders Page</h3>
							<p>A dedicated space for traders to browse available items, place orders, and manage transactions effortlessly.
              </p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div><div class="feature">
		<div class="container">
			<div class="row">
				<div class="heading">
					<h2>SERVICES</h2>
					<h6>Aliqua Put A Bird On It Squid Single-Origin Coffee Nulla Assumenda.</h6>
					<div class="separator"></div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
					<div class="feature-main">
						<div class="feature-box">
							<img src="https://dl.dropboxusercontent.com/s/kg9n24330z562ll/f1.jpg" class="img-responsive" alt="">
							<div class="cover"></div>
						</div>
						<div class="feature-head">
							<h3>Mobile Apps</h3>
							<p>cupidatat skateboard dolor brunch food truck quinoaew nesciunt laborum eiusmod brunch 3 wolf moon tempor, sunt aliqua puta bird on faucibus dolor origin coffee.</p>
							<!-- <a href="#">Learn More<i class="fa fa-angle-double-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
					<div class="feature-main">
						<div class="feature-box">
							<img src="https://dl.dropboxusercontent.com/s/3ah1e9pjqdlpmwb/f2.jpg" class="img-responsive" alt="">
							<div class="cover"></div>
						</div>
						<div class="feature-head">
							<h3>Web Designing</h3>
							<p>cupidatat skateboard dolor brunch food truck quinoaew nesciunt laborum eiusmod brunch 3 wolf moon tempor, sunt aliqua puta bird on faucibus dolor origin coffee.</p>
							<!-- <a href="#">Learn More<i class="fa fa-angle-double-right"></i></a> -->
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
					<div class="feature-main">
						<div class="feature-box">
							<img src="https://dl.dropboxusercontent.com/s/wpore23cxupz16y/f3.jpg" class="img-responsive" alt="">
							<div class="cover"></div>
						</div>
						<div class="feature-head">
							<h3>Marketing</h3>
							<p>cupidatat skateboard dolor brunch food truck quinoaew nesciunt laborum eiusmod brunch 3 wolf moon tempor, sunt aliqua puta bird on faucibus dolor origin coffee.</p>
							<!-- <a href="#">Learn More<i class="fa fa-angle-double-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>