<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invento</title>
  <link rel="stylesheet" href="homepage.css">
</head>
<body>
  <div class="container">
    <header class="header">
      
      <a href="#" class="logo">
        <img style="width: 80%;" src="./img/fontbolt.png" alt="Minecraft Logo">
      </a>
      <nav class="navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="./features">Features</a></li>
          <li><a href="./about">About</a></li>
          <li> <div id="google_translate_element"> </li>
        </ul>
      </nav>
    </header>

    <img src="./img/Minecraft_Ender_Dragon.png" class="dragon fade-in">

    <h2 class="lore"> Steve Has Defeated the Ender Dragon <br /> and now uses Invento ...</h2>
    <h3 class="lore">Welcome back! Login as...</h3>

    <div class="mc-menu">
      <div class="mc-button full">
        <a style="color: white; text-decoration: none;" href="/hardcore"><div class="title">Farmer</div></a>
      </div>
      <div class="mc-button full">
        <a style="color: white; text-decoration: none;" href="/trader_login"><div class="title">Trader</div></a>
      </div>
    </div>
  </div> 



<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
