<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./Character.png" type="image/x-icon">
    <link rel="stylesheet" href="homepage.css" />
    <title>ReportRepo</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo"><a href="#">ReportRepo</a></div>
      <ul class="nav__links">
        <li class="link"><a href="/reportnew">Anonymous</a></li>
        <li class="link"><a href="/login">Login</a></li>
      </ul>
    </nav>
    <section class="container">
      <div class="content__container">
        <h1 class="titletext">
			Anonymously report corruption
        </h1>
        <p class="paratext">
			ReportRepo: Your confidential ally in combating corruption. With secure, anonymous reporting and advanced AI verification, we empower whistleblowers and promote transparency.
        </p>

		<button>Report</button>


      </div>
      <div class="image__container">
        <img class="wiggle-on-hover" src="./img/Character.png" alt="" srcset="">
      </div>
    </section>
	<section>
		<h1 class="features">Features</h1>
		<div class="container">
			<div class="card">
			  <img src="./img/f1.png" alt="Image">
			  <div class="content">
				<div class="title">Anonymous reporting</div>
				<div class="description">Our platform ensures the protection of whistleblowers by allowing them to submit reports anonymously, fostering a safe environment for disclosing instances of corruption without fear of reprisal.</div>
			  </div>
			</div>
		  
			<div class="card">
			  <img src="./img/f2.png" alt="Image">
			  <div class="content">
				<div class="title">AI for Verification</div>
				<div class="description">Leveraging advanced artificial intelligence algorithms, we employ robust verification mechanisms to authenticate and validate reported incidents, ensuring the accuracy and reliability of the information received.</div>
			  </div>
			</div>
		  
			<div class="card">
			  <img src="./img/f3.png" alt="Image">
			  <div class="content">
				<div class="title">Dashboard</div>
				<div class="description">Our intuitive dashboard provides stakeholders with a comprehensive overview of reported cases, enabling efficient monitoring, analysis, and management of ongoing investigations, facilitating informed decision-making and strategic planning.</div>
			  </div>
			</div>
		  </div>

		  <div class="container">
			<div class="card">
			  <img src="./img/f4.png" alt="Image">
			  <div class="content">
				<div class="title">Geotag</div>
				<div class="description">By incorporating geotagging technology, our platform enables precise location tracking of reported incidents, facilitating targeted responses and interventions in specific geographical areas, enhancing the effectiveness of anti-corruption efforts.</div>
			  </div>
			</div>
		  
			<div class="card">
			  <img src="./img/f5.png" alt="Image">
			  <div class="content">
				<div class="title">Evidence Upload Capability</div>
				<div class="description">Whistleblowers can securely upload supporting evidence, such as documents, images, and videos, to substantiate their reports, enhancing the credibility and evidential value of the information provided, and facilitating thorough investigations.</div>
			  </div>
			</div>
		  
			<div class="card">
			  <img src="./img/f6.png" alt="Image">
			  <div class="content">
				<div class="title">User Registration and Authentication</div>
				<div class="description">Through secure user registration and authentication processes, our platform ensures the integrity and confidentiality of user accounts, granting authorized access to functionalities and data while safeguarding against unauthorized access and misuse.</div>
			  </div>
			</div>
		  </div>
	</section>
  </body>
</html>
