<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Character.png" type="image/x-icon">
    <title>Login Page</title>
    <link rel="stylesheet" href="/user.css">
</head>
<body>
    <div class="container">
        <img id="loginimg" src="../public/img/Ghost.png" alt="">
        <form action="/enter" method="post">
            <label class="labell" for="email">Your Email:</label>
                <input type="email" id="email" name='email' value=<%=email%> placeholder="Enter your Email">
                <label class="labell" for="pass">Your OTP:</label>
                <input type="password" id="password" name="pass"  placeholder="Enter your OTP">
                <button id="login-button">Login</button>
        </form>

    </div>
    <div class="main">
        <nav>
        </nav>
    </div>

    <script src="script.js"></script>

<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
