<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Character.png" type="image/x-icon">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <img id="loginimg" src="../public/img/Ghost.png" alt="">
        <form action="/enter" method="post">
            <label class="labell" for="email">Your Email:</label>
                <input type="email" id="email" name='email' value=<%=email%> placeholder="Enter your Email">
                <label class="labell" for="pass">Your OTP:</label>
                <input type="password" id="password" name="pass"  placeholder="Enter your OTP">
                <button id="login-button">Login</button>
        </form>
        <p>Want to Make Anonymous Report? <a href="/reportnew">Click Here</a></p>

    </div>
    <div class="main">
        <nav>
        </nav>
    </div>

    <script src="script.js"></script>
</body>
</html>
