@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    background-image: url(./img/bg.jpg);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-top: 0;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button2 {
    padding: 10px 20px;
    background-color: #495760;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}



.message-item{
    display: flex;
    margin-right: 10px;
}



#fileList {
    margin-top: 10px;
    padding: 10px;
    background-color: #3f4b52;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

#fileList p {
    margin: 5px 0;
    font-size: 14px;
    color: green;
}

#fileList p.error {
    color: red;
}


map {
    width: 600px; /* Adjust map width */
    height: 400px; /* Adjust map height */
    background-color: #f0f0f0; /* Map background color */
    border: 1px solid #ccc; /* Map border */
    margin-bottom: 20px;
  }