@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: "VT323", monospace;
    background-color: #444;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
  .users {
    flex: 1;
  }
  
  .chat {
    flex: 2;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
  }
  
  .chat-header h2 {
    margin: 0;
  }
  
  .chat-messages {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .chat-input textarea {
    width: calc(100% - 70px);
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .chat-input button {
    width: 60px;
    padding: 5px;
    background-color: #66BB6A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #4CAF50;
  }
  
  
    
