body{
    background-color: black;
}

.link_a{
    color: white;
}

#blob{
    opacity: 0.4;
    z-index: -2;
    height: 432px;
    width: 80%;
    margin-top: 4%;
    aspect-ratio: 1;
    position: absolute;
  background-image: linear-gradient(210deg, #FFFFFF 0%, #31f4f5 50%, #edff15 100%);
    border-radius: 50%;
  }
  
  
  
  #blur{
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(60px);
  }

   #sidebar{
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap;
   }

  .sidebar_link_div{
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* justify-content: space-between; */
    margin-left: 30px;
    align-items: center;
  }

  .sidebar_link{
    text-decoration-line: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .sidebar_link_img{
    width: 20px;


  }

  .side_side{
    display: flex;
    flex-direction: row;
  }

  nav{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .logout_div{
    display: flex;
    margin-top: 100%;
    height: fit-content;
    
    background-color: #c2ffbc2d;
    border-radius: 15px;
    margin-left: 10px;
    display: block;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  
  .logout_div .sidebar_link_div{
    padding: 0;
    margin: 0;
  }

  #avatar{
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

#salesChart{
  color: white;
     background-color: rgb(97 216 110 / 11%);
    width: 90%;
    font-family: "Poppins";
    font-weight: 400;
    /* border-collapse: collapse; */
    border: 1px solid rgba(255, 255, 255, 0.558);
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

label{
  color:white;
}

table button{
  padding: 8px 16px;
  background-color: white;
}